[Unit]
Description=Crufter web server

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=60
Restart=always
RestartSec=3
ExecStart=/usr/bin/crufter

[Install]
WantedBy=multi-user.target
